Checks:          'cert-*,cppcoreguidelines-*,google-*,llvm-*,misc-*,modernize-*,performance-*,readility-*,-cppcoreguidelines-pro-type-reinterpret-cast,-llvm-header-guard'
HeaderFilterRegex: '\.hpp'
AnalyzeTemporaryDtors: true